@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");

body {
  margin: 0;
  background-color: hsl(164deg 51% 91%);
  font-family: Quicksand;
  font-size: 18px;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.regForm {
  width: 50%;
  margin: auto;
}

h2,
form label {
  color: hsl(129deg 37% 31%);
  text-align: center;
}

input[type="radio"] {
  margin-bottom: 20px;
  outline: none;
  border: 2px solid #24622c;
  border-radius: 2px;
  background-color: hsl(165deg 50% 95%);
  font-family: Quicksand;
  font-size: 18px;
}

.myform input[type="text"],
.myform input[type="tel"],
.myform button[type="button"],
.myform input[type="reset"] {
  display: block;
  padding: 12px;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  border: 2px solid #24622c;
  border-radius: 2px;
  background-color: hsl(165deg 50% 95%);
  font-family: Quicksand;
  font-size: 18px;
}

.myform button[type="button"],
.myform input[type="reset"] {
  cursor: pointer;
  background-color: #24622c;
  color: white;
}

/* table css */

table {
  font-family: Quicksand;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

th {
  color: #24622c;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.buttons {
  display: flex;
  gap: 10px;
}
button {
  background-color: #24622c;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px;
  border-radius: 12px;
  font-family: Quicksand;
  margin-right: 5px;
  margin-bottom: 5px;
}
.no-record {
  text-align: center;
}
